.draggable{
  &--moved{
    //position: relative;
    //z-index: 100;
  }

  &-preview{
    width: 100%;
    background-color: #dde3ea;
    border:1px solid  #d0d3d6;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px;
    flex:1;
    //z-index: auto;
  }

}
.droppable{
  &--outlined{
    border: 2px solid deepskyblue;
  }
}