.draggable {
  &--moved {
    position: absolute;
    max-height: 34px;
    max-width: 20px;
    box-sizing: border-box;
    z-index: 10;
  }

  &-preview {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color:deepskyblue;
    border: 1px solid #0092ce;
    border-radius: 16px;
    opacity: 0.4;
    margin: 8px 0;
  }

}

.droppable {
  &--outlined {
    border: 2px solid deepskyblue;
  }
}