.draggable{
  &--moved{
    position: absolute;
    max-height: 34px;
    max-width: 20px;
    box-sizing: border-box;
    z-index: 10;
  }

  &-preview{
    position: relative;
    &:after{
      width: calc(100% - 40px);
      height: 100%;
      content: '';
      margin: 20px;
      background-color: #dde3ea;
      border:1px solid  #d0d3d6;
      border-radius: 20px;
      position: absolute;
    }
  }

}
.droppable{
  &--outlined{
    border: 2px solid deepskyblue;
  }
}